h1 {
	color: brown;
	text-align: center;
	font-weight: bold;
	line-height: 35px;
}
h3 {
	color: red;
	text-align: center;
	font-weight: bold;
	line-height: 35px;
	font-family: monospace;
}
p {
	font-family: cursive;
	color: brown;
}
ul li {
	color: red;
}
img {
 	width: 40%;
	height: 30%;
}
.important {
	text-decoration: underline;
}

